
<div class="container">
    <form>
  
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your first name.." value=""  [(ngModel)]="result.first" disabled >
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name.." value=""  [(ngModel)]="result.last" disabled>    
      <label for="lname">Address</label>
      <input type="text" id="lname" name="address" placeholder="Your address" value=""  [(ngModel)]="result.address" disabled>
      <label for="lname">Blood Group</label>
      <input type="text" id="lname" name="blood" placeholder="Your blood group" value=""  [(ngModel)]="result.blood" disabled>
    </form>
  </div>
